.DS_Store

# External packages
node_modules/*

# Native
android/*
ios/*

# Build
dist/*
storybook-static/*
/.svelte-kit
/package

# IDE
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/*.code-snippets
