* {
    .user-avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        height: 35px;
        width: 35px;
        background: #222;
        color: white;
        font-weight: bold;
        border-style: solid;
        border-color: white;
        border-width: 2.5px;
        background-size: cover;
        font-size: 12px;

        &:hover {
            opacity: 0.8;
            cursor: pointer;
        }
    }


}