* {
  font-family: var(--theme-font-family);
}

p {
  font-weight: var(--theme-p-font-weight);
  font-style: var(--theme-p-font-style);
  font-size: var(--theme-p-font-size);
  line-height: var(--theme-p-line-height);
}

span {
  font-weight: var(--theme-span-font-weight);
  font-style: var(--theme-span-font-style);
  font-size: var(--theme-span-font-size);
  line-height: var(--theme-span-line-height);
}
