
.nav-menu-container {
  // nav sizes
  --nav-width: var(--szot-nav-width, 4.5rem);
  --nav-expanded-width: var(--szot-nav-expanded-width, 300px);
  --nav-logo-height: var(--szot-nav-logo-height, 5rem);
  --nav-text-size: var(--szot-text-size, 1rem);
  --nav-icon-size: var(--szot-icon-size, 1.5rem);
  --nav-item-max-height: var(--szot-item-max-height, 50px);

  // nav paddings
  --nav-padding: var(--szot-nav-width, 0.4rem);
  --nav-logo-padding: var(--szot-nav-padding, .6rem .3rem);
  --nav-external-padding: var(--szot-nav-external-padding, .0001rem);

  // nav colors
  --nav-background-color: var(--szot-nav-background-color, #f0f0f0);
  --nav-txt-color: var(--szot-nav-txt-color, var(--theme-dark-txt));
  --nav-items-hover-color: var(--szot-items-hover-color, var(--theme-light-surface));
  --nav-items-active-border: var(--szot-items-active-border, none);
  --nav-items-active-background: var(--szot-items-active-background, var(--theme-dark-surface));
  --nav-items-active-txt-color: var(--szot-items-active-txt-color, var(--theme-txt-on-dark-surface));
  --nav-sub-items-active-highlight: var(--szot-sub-items-active-highlight, var(--nav-items-active-txt-color));

  // other variables
  --nav-animation-speed: var(--szot-nav-animation-speed, 350ms);
  --nav-z-index: var(--szot-nav-z-index, 9999);
  --nav-shadow: var(--szot-nav-shadow, var(--theme-high-shadow));
  --nav-border-radius: var(--szot-nav-border-radius,
    0 var(--theme-medium-shape) var(--theme-medium-shape) 0
  );
  --nav-items-border-radius: var(--szot-nav-items-border-radius,
    0px var(--theme-small-shape) var(--theme-small-shape) 0px
  );
  --nav-group-hover-border-radius: var(--szot-nav-group-hover-border-radius,
    0px var(--theme-medium-shape) var(--theme-medium-shape) 0px
  );

  /*
    above we have some internal variables only
  */
  --internal-nav-width: var(--nav-width);
  --internal-nav-transition-delay: 0;
  --internal-nav-expanded-transition-delay:0;
  --internal-mobile-toggle-overlay-delay: 0;
  --internal-mobile-toggle-btn-delay: 0;
  --internal-mobile-toggle-overlay-expanded-delay: 0;
  --internal-mobile-toggle-btn-expanded-delay: 0;
  --internal-mobile-toggle-btn-container-display: none;

  &.is-mobile {
    --internal-nav-width: 0;
    --nav-expanded-width: 100vw;
    --nav-border-radius: 0;

    --internal-nav-transition-delay: 0;
    --internal-nav-expanded-transition-delay: var(--nav-animation-speed);
    --internal-mobile-toggle-overlay-delay: var(--nav-animation-speed);
    --internal-mobile-toggle-btn-delay: var(--nav-animation-speed);
    --internal-mobile-toggle-overlay-expanded-delay: 0;
    --internal-mobile-toggle-btn-expanded-delay: 0;
    --internal-mobile-toggle-btn-container-display: block;
  }

  height: 100%;
  width: var(--internal-nav-width);
  position: relative;
  z-index: var(--nav-z-index);

  .mobile-toggle-btn-container {
    display: var(--internal-mobile-toggle-btn-container-display);

    .mobile-toggle-overlay {
      background-color: var(--nav-background-color);
      border-radius: 100%;
      position: fixed;
      transform: translate(-50%, -50%);
      bottom: -1.5rem;
      right: -1.5rem;
      z-index: 1;
      width: 0;
      height: 0;
      transition: width ease-in-out var(--nav-animation-speed), height ease-in-out var(--nav-animation-speed);
      transition-delay: var(--internal-mobile-toggle-overlay-delay);
    }

    .mobile-toggle-btn {
      &:not(.mobile-toggle-btn--dragging) {
        transition:
          top ease-in-out var(--nav-animation-speed),
          left ease-in-out var(--nav-animation-speed),
          transform ease-in-out var(--nav-animation-speed);
        transition-delay: var(--internal-mobile-toggle-btn-delay);
      }
    }

    &--active {
      .mobile-toggle-overlay {
        height: 300vmax;
        width: 300vmax;
        transition-delay: var(--internal-mobile-toggle-overlay-expanded-delay);
      }

      .mobile-toggle-btn {
        transform: translate(-50%, -50%) rotateZ(45deg);
        transition-delay: var(--internal-mobile-toggle-btn-expanded-delay);
      }
    }
  }


  nav {
    display: grid;
    grid-template-rows: auto auto 1fr auto auto;
    background-color: var(--nav-background-color);
    height: calc(100% - 2*var(--nav-external-padding));
    top: var(--nav-external-padding);
    left: 0;
    border-radius: var(--nav-border-radius);
    width: var(--internal-nav-width);
    overflow: hidden;
    transition: width ease-in-out 450ms;
    transition-delay: var(--internal-nav-transition-delay);
    position: fixed;
    z-index: 10;
    box-shadow: var(--nav-shadow);

    &.nav--expanded {
      width: var(--nav-expanded-width);
      transition: width ease-in-out 450ms;
      transition-delay: var(--internal-nav-expanded-transition-delay);

      %on-nav-hover-animate-n1-container {
        width: 16rem;
        transition: width ease 1ms 0ms, max-height ease 400ms 0ms, background-color ease-in-out 150ms, border-radius ease-in-out 150ms;
      }

      %on-nav-hover-animate-n1-text {
        opacity: 1;
        transition: opacity 250ms ease-out 100ms ;
      }

      %on-nav-hover-enable-scroll {
        overflow-y: auto;
      }
    }

    .nav-logo {
      display: flex;
      height: var(--nav-logo-height);
      max-width: var(--internal-nav-width);
      align-items: center;
      justify-content: flex-start;
      padding: var(--nav-logo-padding);
      position: relative;

      img {
        height: 100%;
        background-color: var(--nav-background-color);
      }
    }

    hr {
      width: calc(var(--nav-width) - 2 * var(--nav-padding) - 6px);
      margin: 0 calc(var(--nav-padding));
      border-color: var(--nav-txt-color);
    }

    @mixin n1-container {
      display: grid;
      align-items: center;
      border-radius: var(--nav-items-border-radius);
      grid: calc(var(--nav-item-max-height) - 2*var(--nav-padding)) auto/ calc(var(--nav-width) - 1*var(--nav-padding)) 1fr;
      width: calc(var(--nav-width) - 2*var(--nav-padding));
      max-height: var(--nav-item-max-height);
      flex-shrink: 0;
      margin: .3rem var(--nav-padding);
      margin-left: 0;
      padding: var(--nav-padding);
      padding-left: 0;
      overflow: hidden;
      transition: width ease 1ms 500ms, max-height ease 150ms 0ms;
      text-decoration: none;
      cursor: pointer;
      color: var(--nav-txt-color);
      background-color: transparent;

      @extend %on-nav-hover-animate-n1-container;

      &:not([class*="active-true"]):hover {
        background-color: var(--nav-items-hover-color);
      }

      &--active-true {
        border: var(--nav-items-active-border);
        background-color: var(--nav-items-active-background);
        color: var(--nav-items-active-txt-color);
      }
    }

    @mixin n1-icon {
      justify-self: center;

      &::before {
        font-size: var(--nav-icon-size);
      }
    }

    @mixin n1-text {
      font-size: var(--nav-text-size);
      font-weight: 700;
      grid-column: 2/3;
      opacity: 0;
      transition: opacity 250ms ease-in 250ms;
      text-decoration: none;
      cursor: pointer;

      @extend %on-nav-hover-animate-n1-text;
    }

    .nav-items {
      display: flex;
      flex-flow: column;
      padding: .3rem 0;
      height: 100%;
      overflow-x: hidden;
      overflow-y: hidden;

      @extend %on-nav-hover-enable-scroll;

      .n1-item {
        @include n1-container();

        i {
          @include n1-icon();
        }

        .n1-item-text {
          @include n1-text();
        }
      }

      .n1-group {
        @include n1-container();

        &:hover {
          max-height: 500px;
          border-radius: var(--nav-group-hover-border-radius);

          .n2-item {
            opacity: 1;
            transition: opacity 250ms ease-out 100ms;
          }
        }

        &--active-true .n2-item {
          color: var(--nav-items-active-txt-color);
        }

        i {
          @include n1-icon();
        }

        .n1-group-text {
          @include n1-text();
        }

        .n2-item {
          @include n1-text();
          margin-top: .7rem;
          font-weight: 400;
          position: relative;

          &:hover:not(&--active-true) {
            opacity: .7;
          }

          &--active-true {
            &::after {
              content: '';
              width: 4rem;
              height: .18rem;
              border-radius: .3rem;
              background-color: var(--nav-sub-items-active-highlight);
              position: absolute;
              bottom: -.2rem;
              left: 0;
            }
          }
        }
      }
    }

    .nav-bottom-items-container {
      padding: .3rem 0;

      .nav-bottom-items {
        background: transparent;
        border: 0;
        @include n1-container();

        i {
          @include n1-icon();
        }

        .nav-bottom-items-text {
          @include n1-text();
          text-align: start;
        }
      }
    }
  }
}
