:root {
  // simple colors
  // generic use
  --theme-primary: var(--szot-primary, #2b4c7e);
  --theme-secondary: var(--szot-secondary, #722b7e);
  --theme-dark: var(--szot-dark, #1f1f20);
  --theme-light: var(--szot-light, #dce0e6);

  // pure text colors
  --theme-primary-txt: var(--szot-primary-txt, var(--theme-primary));
  --theme-secondary-txt: var(--szot-secondary-txt, var(--theme-secondary));
  --theme-dark-txt: var(--szot-dark-txt, var(--theme-dark));
  --theme-light-txt: var(--szot-light-txt, var(--theme-light));

  // surface colors
  --theme-primary-surface: var(--szot-primary-surface, var(--theme-primary));
  --theme-secondary-surface: var(--szot-secondary-surface, var(--theme-secondary));
  --theme-dark-surface: var(--szot-dark-surface, var(--theme-dark));
  --theme-light-surface: var(--szot-light-surface, var(--theme-light));

  // text on surface colors
  --theme-txt-on-primary-surface: var(--szot-txt-on-primary-surface, #dce0e6);
  --theme-txt-on-secondary-surface: var(--szot-txt-on-secondary-surface, #dce0e6);
  --theme-txt-on-dark-surface: var(--szot-txt-on-dark-surface, #dce0e6);
  --theme-txt-on-light-surface: var(--szot-txt-on-light-surface, #1f1f20);

  // signal colors
  // used to inform something, like a helper text, an info, ...
  --theme-error: var(--szot-error, #b82525);
  --theme-warning: var(--szot-warning, #b8b825);
  --theme-info: var(--szot-info, #25a7b8);
  --theme-success: var(--szot-success, #25b82c);
  --theme-neutral: var(--szot-neutral, #6e737a);

  // text on signal colors surface
  // if the color is used as background, this color must be the text
  --theme-txt-on-signal-color: var(--szot-txt-on-signal-color, black);

  // Color used for most texts
  --theme-global-txt: var(--szot-global-txt, var(--theme-dark-txt));
  // Color used for the forms outlines
  --theme-fields-outline: var(--szot-fields-outline, var(--theme-global-txt));
}
