* {
  // global font
  --theme-font-family: var(--szot-font-family, 'Open Sans', 'Helvetica Neue', sans-serif);

  // paragraph <p>
  --theme-p-font-weight: var(--szot-p-font-weight, normal);
  --theme-p-font-style: var(--szot-p-font-style, normal);
  --theme-p-font-size: var(--szot-p-font-size, 0.9rem);
  --theme-p-line-height: var(--szot-p-line-height, 1.25rem);

  // span <span>
  --theme-span-font-weight: var(--szot-span-font-weight, normal);
  --theme-span-font-style: var(--szot-span-font-style, normal);
  --theme-span-font-size: var(--szot-span-font-size, 0.9rem);
  --theme-span-line-height: var(--szot-span-line-height, 1.25rem);
}
