* {
  // global spacings
  --theme-global-small-padding: var(--szot-global-small-padding, .6rem);
  --theme-global-medium-padding: var(--szot-global-medium-padding, .8rem);
  --theme-global-large-padding: var(--szot-global-large-padding, 1rem);

  // form fields spacings
  --theme-fields-padding: var(--szot-fields-padding, var(--global-small-padding, .6rem));
}
