@mixin custom-scrollbar($color) {

  scrollbar-width: thin;
  scrollbar-color: $color transparent;

  /* width */
  &::-webkit-scrollbar {
    width: 0.3125rem;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $color;
    border-radius: 1.5625rem / 3.125rem;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--theme-light);
  }
}

@mixin form-field-helper-text {
  font-size: calc(0.7 * var(--theme-fields-font-size));
  opacity: 0.75;
  color: var(--theme-info);
}

@mixin form-field-error-text {
  font-size: calc(0.7 * var(--theme-fields-font-size));
  opacity: 0.75;
  color: var(--theme-error);
}

@mixin form-field-label-size {
  font-size: calc(0.85 * var(--theme-fields-font-size));
}

@mixin form-field-label-floated-size {
  font-size: calc(0.7 * var(--theme-fields-font-size));
}

@mixin form-field-text-size {
  font-size: var(--theme-fields-font-size);
}
